/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Varela+Round&display=swap');

/* COLORS */
:root{
  --blue: #82DEE8;
  --green: #8EE5B3;
  --tan: #FAF2E8;
  --yellow: #FBC639;
  --brown: #B1743E;
}

html,
body,
#root {
  background-color: var(--tan);
  height: 100%;
  font-family: Abel;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  margin-right: 10px;
}

.navbar, .navbar-toggler{
  background-color: var(--brown) !important;
}

.body {
  margin-top: 20%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "a1 stuff a2"
    "a3 stuff a4";
  align-items: center;
  text-align: center;
}

.stuff {
  grid-area: stuff;
}

.stuff img {
  border-radius: 50%;
}

.a1 { 
  grid-area: a1;
}

.a2 {
  grid-area: a2;
}

.a3 {
  grid-area: a3;
}

.a4 {
  grid-area: a4;
}

.a1 .btn, .a2 .btn, .a3 .btn, .a4 .btn{
  font-size: 32px;
  padding: 30px 60px;
}

.island-img{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 15px;
  width: 10%;
  z-index: 0;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.btn {
  min-width: 75%;
}